<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Buy the Book!</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
        <!-- Materialize CSS & JS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		
        <!-- Local CSS & JS -->
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
		<script src="/assets/js/book.js"></script>
		
        <!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		{{{ body }}}

		<!--  Scripts-->
  		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  		<script src="js/materialize.js"></script>
  		<script src="js/init.js"></script>
	</body>
</html>