
<div class="row container">
  <br>
  {{#if cart }}
  <div class="col s6 offset-s3">
    <ul class="collection with-header">
      <li class="collection-header center-align">
        <h5>Items in Your Cart</h5>
      </li>
      {{#each cart}}
      <li class="collection-item">
        {{#each dataValues.Books}}
        <span class="label label-success">{{dataValues.title}}</span>
        {{/each}}
        <span class="label label-success right">{{dataValues.price}}</span>
        {{/each}}
      </li>
    </ul>
  </div>
  {{ else }}
    <p>There are no items in your cart. Go find a book!</p>
  {{/if }}
</div>