{{#if cart }}
<div class="row">
    <div class="col s12 m4 l3">
      <div class="collection">  
        {{#each cart}}
          <li class="collection-item">
          {{#each dataValues.Books}}
            <span class="label label-success">{{dataValues.title}}</span>
          {{/each}}
          <span class="label label-success">{{dataValues.price}}</span></li>
        {{/each}} 
      </div>
    </div>
<div class="row">
	<div class="col s12 m5 l3"> 
    {{input name="firstName" placeholder="enter name" value=firstName}}
		<a href="/checkout" class="btn btn-success">Checkout</a>
	</div>
</div>
{{ else }}
<div class="row">
	<div class="text-center">
		<h4>No items in Cart</h4>
	</div>
</div>
{{/if }}